In [2]:
!python --version

Python 3.10.11

In [5]:
connection = connector.connect(user = "laolu", password = "Benguwa2003~")

In [4]:
import mysql.connector as connector

In [6]:
cursor = connection.cursor()

In [8]:
cursor.execute("SHOW DATABASES")

In [9]:
for database in cursor:
    print(database)

('badagry',)
('classicmodels',)
('globalsuperstore',)
('information_schema',)
('littlelemondb',)
('mysql',)
('new_schema',)
('performance_schema',)
('sakila',)
('sql_hr',)
('sql_inventory',)
('sql_invoicing',)
('sql_store',)
('sys',)
('world',)

In [11]:
cursor.execute("USE littlelemondb")

In [12]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

In [13]:
for table in cursor:
    print(table)

('bookings',)
('customers',)
('employee',)
('menuitems',)
('menus',)
('orderdeliverystatus',)
('orders',)
('ordesview',)

In [15]:
join_query = (""" SELECT FullName, ContactNumber, Email, TotalCost FROM Customers C Join Orders O ON C.CustomerID = O.CustomerID WHERE TotalCost = 60"""
             )
cursor.execute(join_query)

In [16]:
results = cursor.fetchall()

In [17]:
print(results)

[]